/Advent-of-Code-2020/day-1/obj/*
/Advent-of-Code-2020/day-1/day-1.csproj.user
/Advent-of-Code-2020/day-1/bin/*
/Advent-of-Code-2020/.vs/*
/Advent-of-Code-2020/day-2/bin/*
/Advent-of-Code-2020/day-2/obj/*
/Advent-of-Code-2020/day-3/bin/*
/Advent-of-Code-2020/day-3/obj/*
